
.integrantes {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 10rem;
}
.integrantes h1{
    text-align: center;
    margin-bottom: 5rem;
}

.integrantes-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    gap: 30px; /* Espacio entre recuadros */
}

.integrantes-list li {
    background-color: #f0f0f0; /* Fondo del recuadro */
    border: 2px solid #ccc; /* Borde del recuadro */
    border-radius: 10px;
    padding: 20px;
    width: 300px; /* Ancho del recuadro */
    height: 350px; /* Alto del recuadro */
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para efecto de profundidad */
    transition: transform 0.3s ease; /* Efecto de hover */
}

.integrantes-list li:hover {
    transform: scale(1.05); /* Aumenta ligeramente al pasar el mouse */
}

.integrantes-list img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 15px;
}

.integrantes-list h2 {
    font-size: 1.5em;
    font-weight: bolder;
    color: #333;
}

.integrantes-list p {
    font-size: 1em;
    font-weight: bold;
    color: #333;
}




